#main {display: flex !important; flex-direction: column; align-items: center;}
a {text-decoration: none;}
#first-body {background-color: #0047b3; width: 500px; height: 355px; padding-top: 50px; border-radius: 3px; box-shadow: 0px 5px 15px 0px rgba(153,153,153,0.5);}
#second-body {background-color: black; width: 400px; height: 305px; margin-left: 50px; border-radius: 3px;}
button {margin-top: 15px; padding: 10px 20px 10px 20px; font-weight: bold; color: white; background-color: #0047b3; border: 0 solid; border-radius: 5px;}
button:hover {cursor: pointer; color: #000000; background-color: #0073e6;}
#side-text {margin-top: 60%; color: #0047b3; font-size: 22px;}
#header {text-align: center; color: #0047b3;}
#cover {display: grid; grid-template-columns: 25% 40% 25%; grid-column-gap: 3%;}
#instruction {width: 90%; height: 25%; font-size: 18px; text-align: justify; margin: 60% 10% 0% 10%; padding: 0px 10px 10px 10px; border-radius: 3px; background-color: #e6e6e6; color: #0047b3;}
#enjoy {font-size: 100px;}
